@media only screen and (max-width: 1300px) {
	.layout-header {
		&__logo {
			left: 2rem;
		}

		&__wrapper {
	    	padding-left: 2rem;
	    	padding-right: 2rem;
    	}
    }

    .navigation {
    	&__wrapper {
		    padding: 0 2rem;
		}
	}

	.breadcrumbs {
		padding: 0 2rem;
	}

	.projects {
		&__item {
			margin-right: 2rem;
			margin-left: 2rem;

			&:nth-child(4n+4) {
				margin-right: 2rem;
			}

			&:nth-child(4n+1) {
				margin-left: 2rem;
			}
		}
	}

	.carousel {
		&__navigation {
			&_prev {
				left: 0;
			}

			&_next {
				right: 0;
			}
		}
	}

	.subscribe {
	    width: 90%;
	}

    .section {
    	padding-left: 2rem;
    	padding-right: 2rem;
    	
    	&_news {
	    	.news-list__item {
	    		&:nth-child(4) {
	    			display: none;
	    		}
	    	}
	    }
    }

    .gallery {
    	&__more {
    		text-align: center;
    	}
    }
}

@media only screen and (max-width: 1280px) {
	.slider {
        &__navigation {
            display: none !important;
        }

        &__item__content {
			padding-left: 2rem;
	    	padding-right: 2rem;
		}
    }
}