@media only screen and (max-width: 375px) {
	
	.breadcrumbs {
		height: auto;
		padding: 1.5rem 2rem 2rem;
		
		&__item {
			float: none;
			clear: both;
			margin-bottom: 1.2rem;
			
			&.last {
				margin-bottom: 0;
			}

			&__link {
				line-height: 1.2;
			}
		}
	}
	
	.layout-header {
		z-index: 8888;
	}

	.navigation {
	    top: 70px;
	    z-index: 0;
		max-width: 100%;
    	transform: translate3d(0, -100%, 0);
		box-shadow: 2px 0 8px rgba(22, 63, 75, 0.4);
	}

	.menu-overlay {
     	display: none !important;
    }
}