@media only screen and (max-width: 375px) {
	
	.breadcrumbs {
		height: auto;
		padding: 1.5rem 2rem 2rem;
		
		&__item {
			float: none;
			clear: both;
			margin-bottom: 1.2rem;
			
			&.last {
				margin-bottom: 0;
			}

			&__link {
				line-height: 1.2;
			}
		}
	}
}