@media only screen and (max-width: 550px) {
	.layout-header {
		border-top: 0;
		height: 70px;
		padding: 0;
		
		&__logo {
			width: 18rem;
			height: 4.3rem;
			top: 13px;
		}

		&__feedback {
			width: 28px;
			height: 24px;
			background: url(../images/feedback.png) 50% 50% no-repeat;
			text-indent: -1000px;
			overflow: hidden;
			border: 0;
			box-shadow: none;
			padding: 0;
		    right: 6.5rem;
			top: 24px;
		}
    }

    .pagination {
    	&__item {
    		margin: 0 1px !important;

    		&__text {
    			display: none;
    		}

    		&__nav {
    			margin: 0 7px;

    			&_prev {
    				margin-left: 0;
    			}

    			&_next {
    				margin-right: 0;
    			}
    		}
    	}
    }
}