@media only screen and (max-width: 768px) {
    .layout-wrapper {
    	&__inner {
    		padding-bottom: 0;
    	}
    }

    .social {
        padding-top: 0;
    }

    .vote {
        &__answers {
            padding: 0;
            text-align: center;
            max-width: 100%;
        }
    }

    .section {
        margin-bottom: 3rem;
        
        &_news {
            padding-top: 40px;
        }

        &_gallery {
            background-image: none;
        }

        &_news, &_gallery {
            padding-bottom: 100px;
        }
            
        &__title {
            color: #093;
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 2.5rem;

            &__name {
                // padding-bottom: 15px;
            }
        }

        &__wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        &:after, &:before {
            width: 140%;
            height: 80px;
            position: absolute;
            left: -20%;
            right: -20%;
            transform: rotate(-6deg);
        }
    }

    .layout-footer {
    	height: auto;
    	margin-top: 0;
	    padding-top: 3rem;
    
        &__wrapper {
            border: 0;
        }

    	&__block {
    		clear: both;
    		width: 100%;
    		height: auto;
            padding-bottom: 3rem;
            
            &, &_left, &_right {
                border: 0;
            }

            &:not(:last-child) {
                margin-bottom: 3rem;
                border-bottom: 1px solid #59767c;
            }
    	}

    	&__bottom {
            height: auto;
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
            border-top: 1px solid #59767c;
    	}

        &__studio {
            width: 100%;
            margin-top: 8rem;
            text-align: center;
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            display: block;
            border-top: 1px solid #59767c;
        }
    }
	
	.subscribe {
		padding: 0;
    	max-width: 30rem;
    }

    .content {
    	ul:not([class]) {
    		margin-left: 0;
    	}

    	&__text {
    		img,
    		img[align="left"],
    		img[align="right"] {
				margin-left: auto;
				margin-right: auto;
				display: block;
				clear: both;
				float: none;
			}
		}

    	&__header {
    		height: auto;
    		padding-top: 1rem;
    		padding-bottom: 1rem;
		    line-height: 4rem;

    		&__title {
    			&_right {
    				clear: both;
    				float: none;
    			}
    		}
    	}
    }

    .employeer + .content__header {
    	height: auto;
		line-height: 3rem;
    }

    .employeer {
    	&__image, &__name {
    		margin-bottom: 2rem;
    	}

    	&__image, &__name, &__contact {
    		width: 100%;
    		float: none;
    		line-height: 1.4;
    	}
	}
}