@media only screen and (max-width: 960px) {
	.sandwich {
		z-index: 10000;
		@include opacity(1);
	}

    .layout-wrapper {
    	&__inner {
    		padding-top: 0;
    	}
    }

	.layout-header {
	    height: 11rem;
		box-shadow: 0 0.2rem 0.8rem rgba(22, 63, 75, 0.4);

		&__feedback {
			right: 9rem;
		}

		&__navigation {
			display: none;
		}
    }

    .section {
	    &_news {
	    	.news-list__item {
	    		&:nth-child(3) {
	    			display: none;
	    		}
	    	}
	    }
    }
	
	.contacts {
		&__wrapper {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	
	.pagination {
		margin-bottom: 4rem;
	}
	
    .content {
    	margin-bottom: 0;

    	&_page {
		    padding: 3rem 2.5rem;
		}

    	&__header {
    		&__title {
    			&_right {
    				margin-right: 0;
    			}
    		}
    	}
    }
}