@@include('./components/meta.html', {
	"title": "Новости"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_bg">
	@@include('./components/header.html', {
		"current": "news"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<!--
		@@include('./components/breadcrumbs.html', {
			"page1": "О нас",
			"page2": "Контактная информация",
			"page3": ""
		})
		-->

		<section class="section">

			<h2 class="section__title section__title_inner"><span class="section__title__name section__title__name_noborder">Контактная информация</span></h2>
			
			<div class="contacts">
				<div class="contacts__wrapper">
					<div class="contacts__address">Россия, Краснодарский край, г. Краснодар<br>ул. Комсомольская, 112</div>
					<div class="contacts__section">Консультационно-методический отдел:<br><a href="tel:8-861-267-15-90">8 (861) 267-15-90</a></div>
					<div class="contacts__section">Отдел духовно-нравственного воспитания молодежи:<br><a href="tel:8-861-267-15-90">8 (861) 267-15-90</a></div>
				</div>

				<div class="contacts__map">
					<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Fk2Z_bGLmZ8orlbiTD4A2bCjIal9Pfdv&width=100%&height=445&lang=ru_RU&sourceType=constructor"></script>
				</div>
			</div>

		</section>
		
	</div>
</article>

@@include('./components/footer.html')