@@include('./components/meta.html', {
	"title": "Документы"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_bg">
	@@include('./components/header.html', {
		"current": "documents"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/breadcrumbs.html', {
			"page1": "Главная",
			"page2": "Документы",
			"page3": ""
		})

		<section class="section">
		
		<h2 class="section__title section__title_inner"><span class="section__title__name section__title__name_noborder">Документы</span></h2>
		
		<div class="content content_white">
		
			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Новые документы</a></div>
				<div class="doc__content">
					<div class="doc__content__list">

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Закон о праве свободы слова и права собственности и еще чего-нибудь от 12. 12. 2015</a>
							
							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

								<span class="doc__item__format">
									<img src="./images/format/word-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/word-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Приказ департамента молодежной политики Краснодарского края от 27 февраля 2015 года №57 "О подготовке и проведении губернаторского конкурса молодежных инновационных проектов "Премия IQ</a>
								
							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

								<span class="doc__item__format">
									<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Предоставление государственных услуг</a></div>
				<div class="doc__content">
					<div class="doc__content__list">

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Закон Краснодарского края от 4 марта 1998г. №123-КЗ «О государственной молодежной политике в Краснодарском крае»</a>

							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

								<span class="doc__item__format">
									<img src="./images/format/word-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/word-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 11 октября 2013 г. № 1159 "Об утверждении государственной программы Краснодарского края "Молодежь Кубани"</a>

							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

								<span class="doc__item__format">
									<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 7 декабря  2010 г. № 1093 "О порядке формирования  и финансового обеспечения выполнения  государственного задания в отношении государственных учреждений Краснодарского края</a>

							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>
								
								<span class="doc__item__format">
									<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			
			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Предоставление государственных услуг</a></div>
				<div class="doc__content">
					<div class="doc__content__list">
					
						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Закон Краснодарского края от 4 марта 1998г. №123-КЗ «О государственной молодежной политике в Краснодарском крае»</a>

							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

								<span class="doc__item__format">
									<img src="./images/format/word-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/word-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 11 октября 2013 г. № 1159 "Об утверждении государственной программы Краснодарского края "Молодежь Кубани"</a>

							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

								<span class="doc__item__format">
									<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>

						<div class="doc__item js-doc-item clearfix">
							<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 7 декабря  2010 г. № 1093 "О порядке формирования  и финансового обеспечения выполнения  государственного задания в отношении государственных учреждений Краснодарского края</a>

							<div class="doc__item__right">
								<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>
								
								<span class="doc__item__format">
									<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
									<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
								</span>
							</div>
						</div>
					
						<div class="doc">
							<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Предоставление государственных услуг</a></div>
							<div class="doc__content">
								<div class="doc__content__list">

									<div class="doc__item js-doc-item clearfix">
										<a href="" class="doc__item__link js-doc-link">Закон Краснодарского края от 4 марта 1998г. №123-КЗ «О государственной молодежной политике в Краснодарском крае»</a>

										<div class="doc__item__right">
											<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

											<span class="doc__item__format">
												<img src="./images/format/word-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
												<img src="./images/format/word-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
											</span>
										</div>
									</div>

									<div class="doc__item js-doc-item clearfix">
										<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 11 октября 2013 г. № 1159 "Об утверждении государственной программы Краснодарского края "Молодежь Кубани"</a>

										<div class="doc__item__right">
											<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

											<span class="doc__item__format">
												<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
												<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
											</span>
										</div>
									</div>

									<div class="doc__item js-doc-item clearfix">
										<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 7 декабря  2010 г. № 1093 "О порядке формирования  и финансового обеспечения выполнения  государственного задания в отношении государственных учреждений Краснодарского края</a>

										<div class="doc__item__right">
											<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>
											
											<span class="doc__item__format">
												<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
												<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
											</span>
										</div>
									</div>
								
								</div>
							</div>
						</div>
			
						<div class="doc">
							<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Предоставление государственных услуг</a></div>
							<div class="doc__content">
								<div class="doc__content__list">

									<div class="doc__item js-doc-item clearfix">
										<a href="" class="doc__item__link js-doc-link">Закон Краснодарского края от 4 марта 1998г. №123-КЗ «О государственной молодежной политике в Краснодарском крае»</a>

										<div class="doc__item__right">
											<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

											<span class="doc__item__format">
												<img src="./images/format/word-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
												<img src="./images/format/word-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
											</span>
										</div>
									</div>

									<div class="doc__item js-doc-item clearfix">
										<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 11 октября 2013 г. № 1159 "Об утверждении государственной программы Краснодарского края "Молодежь Кубани"</a>

										<div class="doc__item__right">
											<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>

											<span class="doc__item__format">
												<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
												<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
											</span>
										</div>
									</div>

									<div class="doc__item js-doc-item clearfix">
										<a href="" class="doc__item__link js-doc-link">Постановление главы администрации (губернатора) Краснодарского края от 7 декабря  2010 г. № 1093 "О порядке формирования  и финансового обеспечения выполнения  государственного задания в отношении государственных учреждений Краснодарского края</a>

										<div class="doc__item__right">
											<span class="doc__item__date">18.12. <span class="doc__item__date__year">2015</span></span>
											
											<span class="doc__item__format">
												<img src="./images/format/pdf-passive.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_passive" alt="">
												<img src="./images/format/pdf-active.png" width="30" height="30" class="doc__item__format__ico doc__item__format__ico_active" alt="">
											</span>
										</div>
									</div>
								
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Духовно-нравственное воспитание молодежи</a></div>
				<div class="doc__content"><div class="doc__content__list"></div></div>
			</div>
			
			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Антикоррупционное законодательство</a></div>
				<div class="doc__content"><div class="doc__content__list"></div></div>
			</div>
			
			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Методические рекомендации</a></div>
				<div class="doc__content"><div class="doc__content__list"></div></div>
			</div>
			
			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Профилактика экстремизма в молодежной среде</a></div>
				<div class="doc__content"><div class="doc__content__list"></div></div>
			</div>

			<div class="doc">
				<div class="doc__title"><a href="" class="doc__title__trigger js-doc-trigger">Архивные документы</a></div>
				<div class="doc__content"><div class="doc__content__list"></div></div>
			</div>
			
		</div>

	</section>

	</div>
</article>

@@include('./components/footer.html')