@@include('./components/meta.html', {
	"title": "Сотрудники"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_bg">
	@@include('./components/header.html', {
		"current": ""
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/breadcrumbs.html', {
			"page1": "О нас",
			"page2": "Сотрудники",
			"page3": ""
		})

		<section class="section">
			
			<h2 class="section__title section__title_inner"><span class="section__title__name section__title__name_noborder">Сотрудники</span></h2>
			
			<div class="content content_white">
				<div class="content__header">
					<div class="content__header__title">Консультационно-методический отдел:</div>
					<div class="content__header__title content__header__title_right">8 (861) 267-15-90</div>
				</div>
				
				<div class="employeer clearfix">
					<div class="employeer__image">
						<img src="./images/emploeer.png" width="220" height="220" class="employeer__image__src" alt="">
					</div>

					<div class="employeer__name">
						<span class="employeer__name__center">Носачева<br>Алена Ивановна</span>
					</div>

					<div class="employeer__contact">
						<span class="employeer__contact__center">Начальник отдела<br>т. 8 800 000 00 33</span>
					</div>
				</div>
				
				<div class="employeer clearfix">
					<div class="employeer__image">
						<img src="./images/emploeer.png" width="220" height="220" class="employeer__image__src" alt="">
					</div>

					<div class="employeer__name">
						<span class="employeer__name__center">Шипилов<br>Анатолий Михайлович</span>
					</div>

					<div class="employeer__contact">
						<span class="employeer__contact__center">Заместитель начальника отдела</span>
					</div>
				</div>
				
				<div class="employeer clearfix">
					<div class="employeer__image">
						<img src="./images/emploeer.png" width="220" height="220" class="employeer__image__src" alt="">
					</div>

					<div class="employeer__name">
						<span class="employeer__name__center">Шафоростова<br>Виктория Юрьевна</span>
					</div>

					<div class="employeer__contact">
						<span class="employeer__contact__center">Главный специалист</span>
					</div>
				</div>

				

				<div class="content__header">
					<div class="content__header__title">Отдел духовно-нравственного воспитания молодежи:</div>
					<div class="content__header__title content__header__title_right">8 (861) 267-15-90</div>
				</div>

				<div class="employeer clearfix">
					<div class="employeer__image">
						<img src="./images/emploeer.png" width="220" height="220" class="employeer__image__src" alt="">
					</div>

					<div class="employeer__name">
						<span class="employeer__name__center">Голованов<br>Павел Сергеевич</span>
					</div>

					<div class="employeer__contact">
						<span class="employeer__contact__center">Начальник отдела</span>
					</div>
				</div>

				<div class="employeer clearfix">
					<div class="employeer__image">
						<img src="./images/emploeer.png" width="220" height="220" class="employeer__image__src" alt="">
					</div>

					<div class="employeer__name">
						<span class="employeer__name__center">Катрушина<br>Кристина Александровна</span>
					</div>

					<div class="employeer__contact">
						<span class="employeer__contact__center">Главный специалист</span>
					</div>
				</div>

			</div>

		</section>

	</div>
</article>

@@include('./components/footer.html')