@@include('./components/meta.html', {
	"title": "Новости"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_bg">
	@@include('./components/header.html', {
		"current": ""
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/breadcrumbs.html', {
			"page1": "Пресс - центр",
			"page2": "Фотогалерея",
			"page3": ""
		})

		<section class="section">
			
			<h2 class="section__title section__title_inner"><span class="section__title__name section__title__name_noborder">Фотогалерея</span></h2>
			
			<div class="content">
					
				<div class="gallery-block">
					<div class="gallery-block__list">
						<ul class="gallery">
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
						</ul>
					</div>

					<div class="gallery-block__about">
						<a href="./gallery-item.html" class="gallery-block__about__title">Форум "Регион 93"</a>
						<span class="gallery-block__about__date">18.12. <span class="gallery-block__about__date__year">2015</span></span>
						<div class="gallery-block__about__more"><a href="" class="gallery-block__about__more__link">Все фото</a></div>
					</div>
				</div>

				<div class="gallery-block">
					<div class="gallery-block__list">
						<ul class="gallery">
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
						</ul>
					</div>

					<div class="gallery-block__about">
						<a href="./gallery-item.html" class="gallery-block__about__title">Другое название более длинное Форум "Регион 93"</a>
						<span class="gallery-block__about__date">18.12. <span class="gallery-block__about__date__year">2015</span></span>
						<div class="gallery-block__about__more"><a href="" class="gallery-block__about__more__link">Все фото</a></div>
					</div>
				</div>

				<div class="gallery-block">
					<div class="gallery-block__list">
						<ul class="gallery">
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
						</ul>
					</div>

					<div class="gallery-block__about">
						<a href="./gallery-item.html" class="gallery-block__about__title">Другое название более длинное Форум "Регион 93"</a>
						<span class="gallery-block__about__date">18.12. <span class="gallery-block__about__date__year">2015</span></span>
						<div class="gallery-block__about__more"><a href="" class="gallery-block__about__more__link">Все фото</a></div>
					</div>
				</div>

				<div class="gallery-block">
					<div class="gallery-block__list">
						<ul class="gallery">
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
						</ul>
					</div>

					<div class="gallery-block__about">
						<a href="./gallery-item.html" class="gallery-block__about__title">Другое название более длинное Форум "Регион 93"</a>
						<span class="gallery-block__about__date">18.12. <span class="gallery-block__about__date__year">2015</span></span>
						<div class="gallery-block__about__more"><a href="" class="gallery-block__about__more__link">Все фото</a></div>
					</div>
				</div>

				<div class="gallery-block">
					<div class="gallery-block__list">
						<ul class="gallery">
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
							<li class="gallery__item effected"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
						</ul>
					</div>

					<div class="gallery-block__about">
						<a href="./gallery-item.html" class="gallery-block__about__title">Другое название более длинное Форум "Регион 93"</a>
						<span class="gallery-block__about__date">18.12. <span class="gallery-block__about__date__year">2015</span></span>
						<div class="gallery-block__about__more"><a href="" class="gallery-block__about__more__link">Все фото</a></div>
					</div>
				</div>

				@@include('./components/pagination.html')
				
			</div>

		</section>
		
		<section class="section section_carousel">
			@@include('./components/carousel.html')
		</section>

	</div>
</article>

@@include('./components/footer.html')