@@include('./components/meta.html', {
	"title": "Main"
})

<article class="layout-wrapper">
	@@include('./components/header.html', {
		"current": ""
	})

	@@include('./components/slider.html')
	
	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">

		<section class="section section_news">
			<h2 class="section__title"><span class="section__title__name">Новости</span></h2>
			
			<ul class="news-list">
				<li class="news-list__item">
					<div class="news-item">
						<div class="news-item__image"><img src="./images/news-1.jpg" alt="" class="news-item__image__src"></div>
						<div class="news-item__content">
							<div class="news-item__date">18.12. <span class="news-item__date__year">2015</span></div>
							<div class="news-item__title">
								<a href="" class="news-item__title__link">Благотворительная акция «Елки желаний»</a>
							</div>
							<p class="news-item__anons">В рамках благотворительной акции каждый житель Кубани сможет сделать новогодний подарок. больному или нуждающемуся ребенку.</p>
						</div>
					</div>
				</li>

				<li class="news-list__item">
					<div class="news-item">
						<div class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></div>
						<div class="news-item__content">
							<div class="news-item__date">16.12. <span class="news-item__date__year">2015</span></div>
							<div class="news-item__title">
								<a href="" class="news-item__title__link">В Краснодаре прошел фестиваль национальных культур</a>
							</div>
							<p class="news-item__anons">В кубанской столице на базе Центра национальных культур 14 декабря состоялся фестиваль «Дружбой сильны». больному или нуждающемуся ребенку.</p>
						</div>
					</div>
				</li>

				<li class="news-list__item">
					<div class="news-item">
						<div class="news-item__image"><img src="./images/news-3.jpg" alt="" class="news-item__image__src"></div>
						<div class="news-item__content">
							<div class="news-item__date">12.12. <span class="news-item__date__year">2015</span></div>
							<div class="news-item__title">
								<a href="" class="news-item__title__link">В Краснодаре прошло мероприятие по профилактике экстремизма</a>
							</div>
							<p class="news-item__anons">Вчера в краевой столице состоялась встреча лидеров национальных общин и лидеров Краснодарского края со студентами Кубанского государственного </p>
						</div>
					</div>
				</li>

				<li class="news-list__item">
					<div class="news-item">
						<div class="news-item__image"><img src="./images/news-4.jpg" alt="" class="news-item__image__src"></div>
						<div class="news-item__content">
							<div class="news-item__date">18.12. <span class="news-item__date__year">2015</span></div>
							<div class="news-item__title">
								<a href="" class="news-item__title__link">Благотворительная акция «Елки желаний»</a>
							</div>
							<p class="news-item__anons">В рамках благотворительной акции каждый житель Кубани сможет сделать новогодний подарок. больному или нуждающемуся ребенку.</p>
						</div>
					</div>
				</li>
			</ul>

		</section>

		<section class="section">
			<h2 class="section__title"><span class="section__title__name">Наши проекты</span></h2>
			
			<div class="section__wrapper">
				<ul class="projects">
					<li class="projects__item">
						<a href="" class="projects__item__link">
							<span class="projects__item__image">
								<img src="./images/projects/IQ.png" class="projects__item__image__src" alt="">
							</span>
							<span class="projects__item__title">Премия IQ года</span>
						</a>
					</li>
					
					<li class="projects__item">
						<a href="" class="projects__item__link">
							<span class="projects__item__image">
								<img src="./images/projects/prav-otkritka.png" class="projects__item__image__src" alt="">
							</span>
							<span class="projects__item__title">Православная открытка</span>
						</a>
					</li>
					
					<li class="projects__item">
						<a href="" class="projects__item__link">
							<span class="projects__item__image">
								<img src="./images/projects/navigator.png" class="projects__item__image__src" alt="">
							</span>
							<span class="projects__item__title">Eдиный онлайн-портал<br>"Навигатор»</span>
						</a>
					</li>
					
					<li class="projects__item">
						<a href="" class="projects__item__link">
							<span class="projects__item__image">
								<img src="./images/projects/kub-state-investors.png" class="projects__item__image__src" alt="">
							</span>
							<span class="projects__item__title">Кубанская школа<br>инноваторов</span>
						</a>
					</li>
					
					<li class="projects__item">
						<a href="" class="projects__item__link">
							<span class="projects__item__image">
								<img src="./images/projects/start.png" class="projects__item__image__src" alt="">
							</span>
							<span class="projects__item__title">Успешный старт</span>
						</a>
					</li>

					<li class="projects__item">
						<a href="" class="projects__item__link">
							<span class="projects__item__image">
								<img src="./images/projects/uspex.png" class="projects__item__image__src" alt="">
							</span>
							<span class="projects__item__title">Успешный молодой<br>человек</span>
						</a>
					</li>
				</ul>
			</div>

		</section>
		
		<section class="section section_gallery">
			<h2 class="section__title"><span class="section__title__name">Фотогалерея</span></h2>
			
			<div class="section__wrapper">
				
				<ul class="gallery">
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
					<li class="gallery__item"><a href="" class="gallery__item__image"><img src="./images/gallery.jpg" width="220" height="146" alt="" class="gallery__item__image__src"></a></li>
				</ul>

				<div class="gallery__more"><a href="" class="gallery__more__link">Форум "Регион 93" 2015</a></div>
			</div>

		</section>
		
		<section class="section section_vote">
			<h2 class="section__title"><span class="section__title__name">Опрос</span></h2>
			
			<div class="section__wrapper">

				<div class="vote">
					<div class="vote__question">Какую информацию вы бы хотели видеть больше на сайте?</div>

					<ul class="vote__answers">
						<li class="vote__answers__item">
							<label class="vote__answer">
								<span class="vote__answer__radio">
									<input type="radio" name="vote">
								</span>
								<span class="vote__answer__label">Информацию для предпринимателей</span>
							</label>
						</li>
						<li class="vote__answers__item">
							<label class="vote__answer">
								<span class="vote__answer__radio">
									<input type="radio" name="vote" checked>
								</span>
								<span class="vote__answer__label">Информацию посвященную спортивным мероприятиям</span>
							</label>
						</li>
						<li class="vote__answers__item">
							<label class="vote__answer">
								<span class="vote__answer__radio">
									<input type="radio" name="vote">
								</span>
								<span class="vote__answer__label">Развивающие и обучающие программы</span>
							</label>
						</li>
					</ul>

					<div class="vote__buttons clearfix">
						<button type="submit" class="button button_fix button_blue">Голосовать</button>
						<a href="" class="button button_fix button_green">Результаты опроса</a>
					</div>
				</div>

			</div>
		</section>
		
		<section class="section section_carousel">
			@@include('./components/carousel.html')
		</section>

	</div>
</article>

@@include('./components/footer.html')