@@include('./components/meta.html', {
	"title": "Новости"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_bg">
	@@include('./components/header.html', {
		"current": "news"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/breadcrumbs.html', {
			"page1": "О нас",
			"page2": "Новости",
			"page3": "В Краснодаре прошел фестиваль национальных культур"
		})

		<section class="section">
			
			<div class="content content_white">
				
				<div class="news">
					<h1 class="news__title">В Краснодаре прошел фестиваль национальных культур</h1>
					<div class="news__date">16.12. <span class="news__date__year">2015</span></div>
					
					<div class="news__content">
						<img src="./images/content/news-item.jpg" width="300" height="200" align="left" alt="">

						<p>Всемирный день толерантности в Краснодаре отметили фестивалем национальных культур «Венок дружбы народов Кубани». Он прошел в Доме культуры железнодорожников.</p>
						<p>В этом году фестиваль собрал более тридцати национальностей. Среди участников – русские, поляки, украинцы, узбеки, ассирийцы, корейцы, адыги, грузины и многие другие.</p>
						
						<br>

						<p>Всемирный день толерантности в Краснодаре отметили фестивалем национальных культур «Венок дружбы народов Кубани». Он прошел в Доме культуры железнодорожников.</p>
						<p>В этом году фестиваль собрал более тридцати национальностей. Среди участников – русские, поляки, украинцы, узбеки, ассирийцы, корейцы, адыги, грузины и многие другие.</p>
						<p>Начальник управления по работе с политическими партиями, общественными объединениями и межнациональным отношениям департамента внутренней политики Петр Лыков подчеркнул, что вдвойне приятно видеть в зале такое большое количество молодежи. И надо отдать должное, что именно зрители смогли создать незабываемую творческую атмосферу. Согласился с этим замечанием и представитель Республики Адыгея при главе администрации Краснодарского края Тимур Трахов.</p>
						<p>А председатель центра национальных культур Олег Гиоргизов обратился к зрителям:</p>
						<p>- Многонациональная Россия и Краснодарский край зарождались сотни лет назад. На протяжении этого времени формировались традиции и обычаи единства и взаимопомощи разных народов. Во многом благодаря России, всем народам, проживающим на этой территории, удалось сохранить свою культуру. Мы – граждане одного государства. Не случайно на эмблеме Центра национальных культур есть приписка: «Мы едины». В ваших руках, руках молодежи, возможность передать эти традиции будущим поколениям.</p>
						<p>Перед началом мероприятия в холле прошла выставка, на которой были представлены традиционные национальные костюмы, музыкальные инструменты и литература славянских народов, народов Адыгеи и Таджикистана.</p>
						<p>А на сцене развернулось красочное представление, открыл которое ансамбль «Кубанушка». Молодые артисты, среди которых были как профессионалы, так и любители, волновались перед выступлением, хотя это был только фестиваль, а не конкурс. Однако каждому хотелось выступить идеально.</p>
						<p>Настя и Денис Чежен исполнили песню о новой весне на корейском. Они с детства живут в России, но свои традиции помнят и чтят. Дома чаще говорят на родном языке.</p>
						<p>Людмила Юханаева, студентка Кубанского государственного медицинского университета, в этот день представляла ассирийскую национальность. На фестивале она исполнила песню «Мир, улыбнись мне».</p>
						<p>- На мой взгляд, очень важно помнить традиции своего народа. Они сохраняются в музыке, танцах, в языке. Только тогда ты сможешь понять и с уважением относиться к другим культурам. Я очень люблю свою нацию. Изучаю историю, дома разговариваю на своем языке. Чтить традиции, религию – превыше всего. Как может человек не знать традиции, историю, культуру своего народа, забыть свои корни? Это же неправильно.</p>
					</div>
					
					<div class="news__author">
						Анастасия Воронович.
					</div>
				</div>

			</div>

		</section>
		
		<section class="section section_carousel">
			@@include('./components/carousel.html')
		</section>

	</div>
</article>

@@include('./components/footer.html')