@@include('./components/meta.html', {
	"title": "Новости"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_bg">
	@@include('./components/header.html', {
		"current": "news"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/breadcrumbs.html', {
			"page1": "О нас",
			"page2": "Новости",
			"page3": ""
		})

		<section class="section">
			
			<h2 class="section__title section__title_inner"><span class="section__title__name section__title__name_noborder">Новости</span></h2>
			
			<div class="content">
				
				<ul class="news-list">
					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">18.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">Благотворительная акция «Елки желаний»</a>
								</div>
								<p class="news-item__anons">В рамках благотворительной акции каждый житель Кубани сможет сделать новогодний подарок. больному или нуждающемуся ребенку.</p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">16.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">В Краснодаре прошел фестиваль национальных культур</a>
								</div>
								<p class="news-item__anons">В кубанской столице на базе Центра национальных культур 14 декабря состоялся фестиваль «Дружбой сильны». больному или нуждающемуся ребенку.</p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">12.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">В Краснодаре прошло мероприятие по профилактике экстремизма</a>
								</div>
								<p class="news-item__anons">Вчера в краевой столице состоялась встреча лидеров национальных общин и лидеров Краснодарского края со студентами Кубанского государственного </p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">18.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">Благотворительная акция «Елки желаний»</a>
								</div>
								<p class="news-item__anons">В рамках благотворительной акции каждый житель Кубани сможет сделать новогодний подарок. больному или нуждающемуся ребенку.</p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">16.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">В Краснодаре прошел фестиваль национальных культур</a>
								</div>
								<p class="news-item__anons">В кубанской столице на базе Центра национальных культур 14 декабря состоялся фестиваль «Дружбой сильны». больному или нуждающемуся ребенку.</p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">12.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">В Краснодаре прошло мероприятие по профилактике экстремизма</a>
								</div>
								<p class="news-item__anons">Вчера в краевой столице состоялась встреча лидеров национальных общин и лидеров Краснодарского края со студентами Кубанского государственного </p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">18.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">Благотворительная акция «Елки желаний»</a>
								</div>
								<p class="news-item__anons">В рамках благотворительной акции каждый житель Кубани сможет сделать новогодний подарок. больному или нуждающемуся ребенку.</p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">12.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">В Краснодаре прошло мероприятие по профилактике экстремизма</a>
								</div>
								<p class="news-item__anons">Вчера в краевой столице состоялась встреча лидеров национальных общин и лидеров Краснодарского края со студентами Кубанского государственного </p>
							</div>
						</div>
					</li>

					<li class="news-list__item news-list__item_push">
						<div class="news-item">
							<a href="" class="news-item__image"><img src="./images/news-2.jpg" alt="" class="news-item__image__src"></a>
							<div class="news-item__content">
								<div class="news-item__date">18.12. <span class="news-item__date__year">2015</span></div>
								<div class="news-item__title">
									<a href="" class="news-item__title__link">Благотворительная акция «Елки желаний»</a>
								</div>
								<p class="news-item__anons">В рамках благотворительной акции каждый житель Кубани сможет сделать новогодний подарок. больному или нуждающемуся ребенку.</p>
							</div>
						</div>
					</li>
				</ul>
	
				@@include('./components/pagination.html')
				
			</div>

		</section>
		
		<section class="section section_carousel">
			@@include('./components/carousel.html')
		</section>

	</div>
</article>

@@include('./components/footer.html')