@@include('./components/meta.html', {
	"title": "Видео"
})

@@include('./popups/popup.html')

<article class="layout-wrapper layout-wrapper_video">
	@@include('./components/header.html', {
		"current": "video"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/breadcrumbs.html', {
			"page1": "Пресс - центр",
			"page2": "Видео",
			"page3": ""
		})

		<section class="section">
			
			<h2 class="section__title section__title_inner"><span class="section__title__name section__title__name_noborder">Видео</span></h2>
			
			<div class="content">
				
				<ul class="video-list">
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-1.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">18.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">Цени своё мнение</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-2.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">16.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">«Ты — предприниматель» Инструкция к применению</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-3.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">12.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">То, чем мы похожи</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-1.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">18.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">Цени своё мнение</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-2.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">16.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">«Ты — предприниматель» Инструкция к применению</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-3.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">12.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">То, чем мы похожи</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-1.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">18.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">Цени своё мнение</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-2.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">16.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">«Ты — предприниматель» Инструкция к применению</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-3.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">12.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">То, чем мы похожи</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-1.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">18.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">Цени своё мнение</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-2.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">16.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">«Ты — предприниматель» Инструкция к применению</a>
								</div>
							</div>
						</div>
					</li>
					<li class="video-list__item video-list__item_push">
						<div class="video-item">
							<a href="./video-item.html" class="video-item__image"><img src="./images/content/video-3.jpg" alt="" class="video-item__image__src"></a>
							<div class="video-item__content">
								<div class="video-item__date">12.12. <span class="video-item__date__year">2015</span></div>
								<div class="video-item__title">
									<a href="./video-item.html" class="video-item__title__link">То, чем мы похожи</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
	
				@@include('./components/pagination.html')
				
			</div>

		</section>
		
		<section class="section section_carousel">
			@@include('./components/carousel.html')
		</section>

	</div>
</article>

@@include('./components/footer.html')