<div class="carousel">
	<div class="carousel__wrapper" id="carousel">
		<div class="carousel__item slick-slide">
			<img src="./images/carousel/1.png" alt="" class="carousel__item__image__src">
		</div>

		<div class="carousel__item slick-slide">
			<img src="./images/carousel/2.png" alt="" class="carousel__item__image__src">
		</div>

		<div class="carousel__item slick-slide">
			<img src="./images/carousel/3.png" alt="" class="carousel__item__image__src">
		</div>

		<div class="carousel__item slick-slide">
			<img src="./images/carousel/4.png" alt="" class="carousel__item__image__src">
		</div>

		<div class="carousel__item slick-slide">
			<img src="./images/carousel/5.png" alt="" class="carousel__item__image__src">
		</div>

		<div class="carousel__item slick-slide">
			<img src="./images/carousel/5.png" alt="" class="carousel__item__image__src">
		</div>
	</div>
</div>