<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__upper">
		<div class="layout-footer__wrapper">

			<div class="layout-footer__block layout-footer__block_left">
				<h3 class="layout-footer__title">КОНТАКТНЫЕ ДАННЫЕ:</h3>

				<div class="layout-footer__contacts">
					г. Краснодар, ул. Ленина, 65<br>
					+7 (861) 267-15-90<br>
					+7 (861) 267-15-97<br>
					<span class="layout-footer__contacts__email">e-mail: <a href="mailto:2004-2012@bk.ru">2004-2012@bk.ru</a></span>
				</div>
			</div>

			<div class="layout-footer__block layout-footer__block_left layout-footer__block_right">
				<h3 class="layout-footer__title">Подписаться на новости:</h3>

				<form action="" class="subscribe">
					<div class="subscribe__block clearfix">
						<input placeholder="Ваш e-mail" name="email" class="subscribe__field">
						<button type="submit" class="subscribe__button">Подписаться</button>
					</div>

					<label class="subscribe__unsibscribe">
						<span class="subscribe__unsibscribe__checkbox">
							<input type="checkbox" name="" class="subscribe__unsibscribe__checkbox__input">
						</span>
						<span class="subscribe__unsibscribe__label">Отписаться</span>
					</label>
				</form>
			</div>
			
			<div class="layout-footer__block layout-footer__block_right">
				 <h3 class="layout-footer__title">Мы в соцсетях:</h3>

				 <ul class="social">
				 	<li class="social__item"><a href="" class="social__item__link social__item__link_vk"></a></li>
				 	<li class="social__item"><a href="" class="social__item__link social__item__link_fb"></a></li>
				 	<li class="social__item"><a href="" class="social__item__link social__item__link_ok"></a></li>
				 </ul>
			</div>
		</div>
	</div>

	<div class="layout-footer__bottom">
		<div class="layout-footer__wrapper">
			<div class="layout-footer__copiright"><span class="layout-footer__copiright__mid">Copyright © 2011 «Инвентум»<br>Все права защищены</span></div>
			<div class="layout-footer__counters">
				<span class="layout-footer__counters__item"><img src="./images/counter.png" alt=""></span>
			</div>
			<div class="layout-footer__studio">Разработка сайта <a href="" class="layout-footer__studio__link">«Русь-технология»</a></div>
		</div>
	</div>
</footer>

<script src="./js/main.min.js"></script>

</body>
</html>