<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="./index.html" class="layout-header__logo logo"></a>
		
		<a href="" class="layout-header__feedback">Обратная связь</a>
	</div>
	
	<nav class="layout-header__navigation navigation" id="navigation" role="navigation">
		<div class="navigation__wrapper">
			<ul class="navigation__list">
			    <li class="navigation__item"><a href="./about.html" class="navigation__link @@if (current == 'about') { current }">О нас</a></li>
			    <li class="navigation__item"><a href="./news.html" class="navigation__link @@if (current == 'news') { current }">Новости</a></li>
			    <li class="navigation__item"><a href="./documents.html" class="navigation__link @@if (current == 'documents') { current }">Документы</a></li>
			    <li class="navigation__item"><a href="./work.html" class="navigation__link @@if (current == 'worl') { current }">Направления работы</a>
			    	<div class="navigation__item__submenu submenu">
						<ul class="submenu__list">
							<li class="submenu__item"><a href="" class="submenu__item__link">Инновации</a></li>
							<li class="submenu__item">
								<ul class="submenu__item__list">
									<li class="submenu__item"><a href="" class="submenu__item__link">Зворыкинская премия</a></li>
									<li class="submenu__item"><a href="" class="submenu__item__link">Кубанская школа инвесторов</a></li>
									<li class="submenu__item"><a href="" class="submenu__item__link">От идеи к делу</a></li>
								</ul>
							</li>
							<li class="submenu__item"><a href="" class="submenu__item__link">Предпринимательство</a></li>
							<li class="submenu__item"><a href="" class="submenu__item__link">Молодежные центры «Навигатор»</a></li>
							<li class="submenu__item"><a href="" class="submenu__item__link">Духовно-нравственное воспитание</a></li>
							<li class="submenu__item"><a href="" class="submenu__item__link">Профилактика экстремизма</a></li>
						</ul>
					</div>
				</li>
			    <li class="navigation__item"><a href="./press-center.html" class="navigation__link @@if (current == 'press-center') { current }">Пресс-центр</a></li>
			    <li class="navigation__item"><a href="./links.html" class="navigation__link @@if (current == 'links') { current }">Полезные ссылки</a></li>
			</ul>
			
			<div class="layout-header__search">
				<button type="button" class="layout-header__search__button js-search"></button>
			</div>
		</div>

		<div class="submenu-background" id="navigation-submenu"></div>
	</nav>
</header>