.gallery {
	font-size: 0;
	line-height: 0;
	text-align: center;
    padding-top: .3rem;
    margin-left: -2rem;
	margin-bottom: -2.6rem;

	&__item {
		@extend .inline;
		margin: 0 2rem 5.3rem;

		&:nth-child(5n+5) {
			margin-right: 0;
		}

		// &:nth-child(5n+1) {
		// 	margin-left: 0;
		// }
		
		&:first-child {
			margin-left: 0;
		}

		&__image {
			display: block;
			font-size: 0;
			line-height: 0;
			@include opacity(0);
			transform: scale(.3, .3);
			transition: opacity .9s, transform .7s;

			&__src {
				max-width: 100%;
				max-height: 100%;
				display: inline-block;
				vertical-align: middle;
				
				filter: grayscale(100%);
				transition: filter $time;
			}
		}

		&:hover &__image {
			&__src {
				filter: none;
			}
		}

		&.active &__image {
			transform: scale(1, 1);
			@include opacity(1);
		}
	}

	&__more {
		clear: both;
		margin-left: -.9rem;

		&__link {
			color: #1a6785;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 2.2rem;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}