.employeer {
	clear: both;
	padding: 2rem 2.5rem;
	border-bottom: 5px solid #e6f8ff;

	&__image,
	&__name,
	&__contact {
		width: 33.333%;
		padding: 0 1rem;
		box-sizing: border-box;
	}

	&__image {
		float: left;
		height: 22rem;
		line-height: 22rem;
		text-align: center;
		background: url(../images/emploeer.png) 50% 50% no-repeat;

		&__src {
			max-width: 100%;
			max-height: 100%;
			vertical-align: middle;
		}
	}

	&__name {
		font-weight: 700;
	}

	&__contact {
		font-weight: 400;
	}

	&__name,
	&__contact {
		color: #333;
		font-size: 1.6rem;
		float: left;
		text-align: center;
		line-height: 22rem;

		&__center {
			display: inline-block;
			vertical-align: middle;
			line-height: 2.4rem;
		}
	}
}

.employeer + .content__header {
	height: 5.6rem;
	line-height: 5.3rem;
}