.navigation {
	clear: both;
	height: 69px;
	position: relative;
	z-index: 200;
    padding-top: 17px;
    background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0.2rem 0.8rem rgba(22, 63, 75, 0.4);

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -5px;
		height: 10px;
		z-index: 10;
		background-color: #fff;
	}

	&.fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 3000;
	}

	&__wrapper {
		padding: 0;
		@extend .layout;
	}
	
	&__item {
		@extend .inline;
		position: relative;
		margin-right: 2.4rem;

		&__submenu {
		    min-width: 320px;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			z-index: 1100;
		}
	}

	&__link {
		display: block;
		color: #333;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2.5rem;
		text-decoration: none;
		border-bottom: 5px solid #fff;
		transition: border-color $time;
		position: relative;
		z-index: 1300;

		&_similar {
			height: 0;
			line-height: 0;
			opacity: 0;
			border-bottom: 0;
			border: 0;
		}
		
		&.current,
		&:hover {
			border-color: #92c271;
			text-decoration: none;
		}
	}
}

.submenu-background {
	width: 100%;
	height: 360px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 50;
	padding: 25px 0 35px;
	background-color: #173c43;
	background-color: rgba(27, 60, 67, .9);
	box-shadow: 0 0.8rem 0.8rem rgba(22, 63, 75, 0.3);
	box-sizing: border-box;
	display: none;
	@include opacity(0);
	transform: translate3d(0, -3rem, 0);
	transition: transform $time, opacity $time;
	
	&.show {
		display: block;
	}

	&.active {
		@include opacity(1);
		transform: translate3d(0, 0, 0);
	}
}

.submenu {
	height: 100%;
	display: none;
	margin-bottom: 0;
	@include opacity(0);
	transform: translate3d(0, -3rem, 0);
	transition: transform $time, opacity $time;
	
	&.show {
		display: block;
	}

	&.active {
		@include opacity(1);
		transform: translate3d(0, 0, 0);
	}

	&__list {
		height: 100%;
		list-style-type: none;
    	padding-top: 80px;
	}

	&__item {
		clear: both;
		padding-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}

		&__link {
			color: #fff;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1;

			&:hover {
				text-decoration: none;
			}
		}

		&__list {
			margin-left: 3rem;
			list-style-type: none;
		}
	}
}