.projects {
	font-size: 0;
    padding-top: 1rem;
	line-height: 0;
    margin-bottom: -1.9rem;
	text-align: center;

	&__item {
		@extend .inline;
		margin: 0 4rem 2.7rem;

		&:nth-child(4n+4) {
			margin-right: 0;
		}

		&:nth-child(4n+1) {
			margin-left: 0;
		}

		&__link {
			display: block;
			text-decoration: none;
		}

		&__image {
			width: 24.1rem;
			height: 24.1rem;
			line-height: 24.1rem;
			background-color: #f4fbfd;
			border-radius: 50%;
			display: block;
			transform: scale(.3, .3);
			@include opacity(0);
			transition: opacity .9s, transform .7s;

			&__src {
				max-height: 90%;
				max-width: 85%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&__title {
			position: relative;
			top: -22px;
			color: #333;
			font-size: 2rem;
			font-weight: 900;
			line-height: 2.5rem;
			display: inline;
			border-bottom: 1px solid #acacac;
			transform: translate3d(0, 3rem, 0);
			@include opacity(0);
			transition: opacity .9s, transform .7s;
		}

		&__link:hover &__title {
			border-bottom: 0;
			padding-bottom: 1px;
		}

		&.active &__image {
			transform: scale(1, 1);
			@include opacity(1);
		}
		
		&.active &__title {
			transform: translate3d(0, 0, 0);
			@include opacity(1);
		}
	}
}