.search-form {
	width: 34rem;
	height: 5rem;
	background-color: #fff;
	box-shadow: 0 0.6rem 2.02rem 0.08rem rgba(22, 63, 75, 0.4);
	position: fixed;
	left: 50%;
	top: 50%;
	padding-right: 4rem;
	z-index: 9999;
	margin: -2.5rem 0 0 -17rem;
	display: none;
	@include opacity(0);
	transition: opacity .8s;

	&.visible {
		display: block;
	}

	&.animate {
		@include opacity(1);
	}

	&__input {
		width: 100%;
		height: 5rem;
		background: none;
		border: 0;
		padding: 0 2rem;
		color: #000;
		font-size: 1.6rem;
		font-weight: 400;
	}

	&__button {
		border: 0;
		position: absolute;
		right: 2rem;
		top: 50%;
		margin-top: -13px;
		background: none;

		&, &:before, &:after {
			width: 26px;
			height: 25px;
			display: block;
			cursor: pointer;
		}

		&:before, &:after {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			transition: opacity $time;
			background: url(../images/search-button.png) no-repeat;
		}

		&:before {
			background-position: 50% 0;
			@include opacity(1);
		}

		&:after {
			background-position: 50% 100%;
			@include opacity(0);
		}

		&:hover {
			&:before {
				@include opacity(0);
			}

			&:after {
				@include opacity(1);
			}
		}
	}
}