.selectbox {
	color: #000;
	background: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	z-index: 200;
	vertical-align: top;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 5rem;
	border: 0;
	box-sizing: border-box;
	
	&.is-disabled {
		opacity: 0.4;
		cursor: default;
	}

	&, &__select {
		width: 100%;
		height: 5rem;
		display: block;
		position: relative;
	}

	&__select {
		z-index: 10;

		&__text {
			height: 100%;
		    padding: 0 50px 0 20px;
			letter-spacing: 0.05ex;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__trigger {
		right: 0;
		top: 0;
		z-index: 5;

		&, &__arrow{
			width: 65px;
			height: 100%;
			position: absolute;
			display: block;
		}

		&__arrow {
			top: 0;
			left: 0;
			background: url(../images/select-pass.png) no-repeat 50% 50%;
		}
	}

	&__dropdown {
		min-width: 100%;
		max-height: 183px;
		position: absolute;
		top: 51px !important;
		left: 0;
	    right: 0;
		margin: 0;
		padding: 0;
	    list-style: none;
		background-color: #fff;
		z-index: 1999;
		overflow: auto;
		display: none;
		overflow-x: hidden;
		box-sizing: border-box;
		box-shadow: 0 0.5rem 2rem rgba(34, 68, 18, 0.6);

		&__list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	
		&__item {
			margin: 0;
			line-height: 1;
			padding: 16px 20px;
			background-image: none;
			border-bottom: 1px solid #468760;
			transition: color $time;
			
			&.is-empty {
				display: none;
			}

			&.is-empty.selected {
				display: block;
			}

			&.last-child {
				border-bottom: 0;
			}

			&.selected {
				background: #fff;
			}

			&.sel {
				display: none;
			}

			&:hover {
				color: #fff;
				background: $gray;
			}

			&.disabled {
				color: #aaa;
			}

			&.disabled:hover {
				background: none;
			}
		}
	}
}

.selectbox-active {
	background-color: #fff;
	
	.selectbox__trigger {
		z-index: 4000;
	}
	
	.selectbox__select {
	    background: #fff;
	    z-index: 3000;
	}

	.selectbox__select,
	.selectbox__dropdown {
		&__item {
			&.is-empty {
				display: none;
			}
		}
	}

	.selectbox__trigger__arrow {
		background-image: url(../images/select.png);
	}
}