.content {
	@extend .layout;

	&_white {
		background-color: #fff;
	}

	&_page {
		padding: 4rem 8.5rem;
	}
	
	&__title {
		color: #333;
		font-size: 3rem;
		font-weight: 700;
		line-height: 4rem;
		margin-bottom: 5rem;
	}

	&__text {
		color: #152930;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;

		img { margin: 6px 30px 20px; }
		img[align="left"] { margin-left: 0; }
		img[align="right"] { margin-right: 0; }
	}
	
	p {
		color: #152930;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;
		margin-bottom: 2.5rem;
	}

	ol {
		list-style-type: decimal;
		margin: 0 0 3rem 2rem;
	}
	
	ul {
		list-style-type: none;
		margin: 0 0 4rem 2rem;

		li {
			padding-left: 2rem;
			background: url(../images/li.png) 0 6px no-repeat;
		}
	}

	ol li,
	ul li {
		color: #152930;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.2rem;
		margin-bottom: 2rem;
	}

	h3 {
		color: #152930;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2.2rem;
		margin-bottom: 1.5rem;
	}

	&__header {
		height: 6rem;
		line-height: 6rem;
		padding: 0 2.5rem;
		background-color: #e6f8ff;

		&__title {
			color: #333;
			font-size: 1.8rem;
			font-weight: 700;
			float: left;

			&_right {
				float: right;
			}
		}
	}
}