.layout {
	width: 100%;
	height: 100%;
	padding: 0 1rem;
	max-width: 1284px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	// outline: 1px solid lime;
}

.inline {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.layout-wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	&_bg {
		background-image: url(../images/background.png);
	}

	&_bg,
	&_photo,
	&_video {
		background-color: #cae6f1;
	}

	&_photo {
		background-image: url(../images/photo.png);
	}
	
	&_video {
		background-image: url(../images/video.png);
	}

	&__inner {
		// padding-top: 69px;
		padding-bottom: $footerHeight;
	}
}