.section {
	clear: both;
	position: relative;
	margin-bottom: 5rem;

	&__wrapper {
		@extend .layout;
	}

	&_news {
		overflow: hidden;
		padding: 80px 0 90px;
		background: #cae6f1 url(../images/news-background.jpg);

		&:after {
			content: "";
			width: 120%;
			height: 60px;
			position: absolute;
			left: -10%;
			right: -10%;
			bottom: -30px;
			display: block;
			background-color: #fff;
			transform: rotate(-1.7deg);
		}
	}

	&_carousel {
		padding: 7rem 0;
		background-color: #e8f9ff;
		margin-bottom: 0;
	}

	&_gallery {
		overflow: hidden;
		padding: 100px 0 80px;
		background: #d4e7ee url(../images/gallery-background.jpg);
		background-size: cover;

		&:after,
		&:before {
			content: "";
			width: 120%;
			height: 60px;
			position: absolute;
			left: -10%;
			right: -10%;
			display: block;
			background-color: #fff;
			transform: rotate(-1.7deg);
		}

		&:before {
			top: -30px;
		}
		
		&:after {
			bottom: -30px;
		}
	}

	&__title {
		color: #093;
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 5rem;

		&__name {
			position: relative;
			padding-bottom: 18px;
			display: inline-block;

			&:after {
				width: 68%;
				height: 0.2rem;
				content: "";
				opacity: 0.6;
				position: absolute;
				left: 50%;
				bottom: 0;
				margin-left: -34%;
				background-color: #093;
			}
		}
	}
}