<div class="popup" id="popup-feedback">
	<div class="popup__dialog js-popup-dialog">
		<div class="popup__content">

			<span class="popup__close js-popup-close"></span>
			
			<form action="../json/feedback.json" method="post" class="form form-ajax clearfix">
				
				<div class="form__row clearfix">
					<label class="form__label js-form-label">
						<input name="fio" placeholder="Ф. И. О. *" class="form__input js-form-input">
					</label>
				</div>

				<div class="form__row clearfix">
					<label class="form__label js-form-label">
						<input name="org" placeholder="Организация" class="form__input js-form-input">
					</label>
				</div>

				<div class="form__row clearfix">
					<div class="form__col form__col_l">
						<label class="form__label js-form-label">
							<input name="email" placeholder="E - mail: *" class="form__input js-form-input">
						</label>
					</div>

					<div class="form__col form__col_r">
						<label class="form__label js-form-label">
							<input placeholder="Телефон:" class="form__input form__input_phone js-phone-watcher js-form-input">
						</label>
					</div>
				</div>

				<div class="form__row clearfix">
					<label class="form__label js-form-label">
						<select name="theme" class="js-form-select js-form-input" data-placeholder="Тип обращения *">
							<option value="" data-classname="is-empty" selected></option>
							<option value="1">Руководителю</option>
							<option value="2">Найдена ошибка на сайте</option>
							<option value="3">Еще тип обращения</option>
						</select>
					</label>
				</div>
				
				<div class="form__row clearfix">
					<label class="form__label js-form-label">
						<textarea name="text" placeholder="Текст обращения:" cols="30" rows="10" class="form__textarea form__textarea_feedback js-form-input"></textarea>
					</label>
				</div>
				
				<!-- Ключ 6LdY3RYTAAAAADwQcJ-Hsy5Q8C7EN7iXc7gq5Gep -->
				<!-- Секретный ключ 6LdY3RYTAAAAAH_JsUmyeZnSOAYDaZsMX2cYXvPM -->

				<div class="form__row clearfix">
					<div class="g-recaptcha" data-sitekey="6LdY3RYTAAAAADwQcJ-Hsy5Q8C7EN7iXc7gq5Gep" data-size="normal"></div>
				</div>
				
				<div class="form__result js-form-result"></div>

				<div class="form__button active js-form-button">
					<button type="submit" class="button button_fix button_green">Отправить</button>
				</div>

			</form>
		
		</div>
	</div>
</div>