<div class="overlay" id="overlay"></div>

<script type="text/html" id="tmpl-search">
	<div class="overlay" id="search-overlay"></div>

	<form action="/search" class="search-form" id="search-form">
	   	<input name="q" class="search-form__input" placeholder="Поиск по сайту">
	   	<button type="submit" class="search-form__button"></button>
	</form>
</script>

<script type="text/html" id="tmpl-form-label">
	<span class="form__label__name js-label-name">
		{{{name}}}
	</span>
</script>

<script type="text/html" id="tmpl-form-success">
	<div class="form__result__success">{{{message}}}</div>
</script>

@@include('./message.html')
@@include('./feedback.html')